@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Bokor&family=Dancing+Script:wght@400..700&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Lavishly+Yours&family=Mea+Culpa&family=Metal+Mania&family=Modak&family=Monsieur+La+Doulaise&family=Mountains+of+Christmas:wght@400;700&family=New+Rocker&family=Oi&display=swap');
body{
    background-color: darkgreen;
    margin: auto;
    text-align: center ;
    list-style-position: inside;
    justify-content: center;
    align-items: center;
    font-family:Mea Culpa ;
    
    
}
main{
    background-color: white;
    outline: dotted 90px darkgreen;
    border-radius: 5%;
    margin: 500px ;
    padding: 50px 60px;
    outline-offset:  -20px;
    outline-color: darkgreen;
    font-size:  50px;
    width: 1100px;
    
   
    
}
img{
    
    width: 325px;
    height: 250px;
}
ol{
    text-align: left;
    display:  inline-block;
    padding: 1px 0px 0px 10px;
    
}


